Debug
Release
lifelong.vcxproj
lifelong.vcxproj.filters
lifelong.vcxproj.user
experiments
python-tools
__pycache__
.vscode
exp
cmake*
.idea
idea.pptx
~*
CMakeFiles/
CMakeCache.txt
lifelong
Makefile
build/
.venv/